<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>This is Admin</h1>
<!--<script>
    <ul id="users"> </ul>
    const ul = document.getElementById('users');

    const list = document.createDocumentFragment();

    const url = 'http://localhost:8080/api/users';

    fetch(url)
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        let users = data;
        users.map(function (user){
            let li = document.createElement('li');
            let fname = document.createElement('');
            let email = document.createElement('span');
            let phone = document.createElement('phone')
            let
        });
    })

</script>-->
</body>
</html>